
* {
    font-family: 'Noto Sans KR';
}
.container {
    margin: 0 auto;
    width: 1250px;
}
#header {
    border-bottom: 1px solid #dfdfdf;
    height: 131px;
    padding: 20px 0 30px;
}
.logo {
    background-image: url(../img/logo.webp);
    background-size: 100%;
    width: 115px;
    height: 34px;
    display: inline-block;
    margin-right: 30px;
}
.header__flex {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.search {
    position: relative;
    width: 400px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 3px 3px 15px rgba(221, 185, 189, 0.3);
    border: 3px solid transparent;
    border-radius: 40px;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, #a163f5 0%,  #a5affd 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.search__text {
    position: absolute;
    left: 25px;
    top: 7px;
    font-size: 14px;
    color: #333;
    font-weight: 300;
    font-family: 'Noto Sans KR';
}
.searsh__box {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding-left: 100px;
    border: 0;
}
.search__btn {
    position: absolute;
    right: 3px;
    top: 2px;
    width: 30px;
    height: 30px;
    background: none;
}
.search__btn img {
    width: 100%;
    height: 100%;
    display: block;
}
.member {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.member li {
    margin-top: 20px;
    display: inline;
    margin-left: 30px;
}
.member li:first-child {
    margin-left: 0;
} 

.member li a {
    color: #919191;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans KR';
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}
.member li:nth-child(1) a img {
    width: 16px;
    height: 17px;
}
.member li:nth-child(2) a img {
    width: 19px;
    height: 19px;
    margin-bottom: -1px;
}
.member li:nth-child(3) a img {
    width: 19px;
    height: 17px;
    margin-bottom: 2px;
}
.header__flex__bottom {
    display: flex;
    align-items: center;
    position: relative;
}
.menu__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
}
.menu__bar01 {
    position: absolute;
    left: 10px;
    top: 11.5px;
    width: 15px;
    height: 2px;
    background: #7f7cfe;
}
.menu__bar02 {
    position: absolute;
    left: 10px;
    top: 16.5px;
    width: 15px;
    height: 2px;
    background: #7f7cfe;
}
.menu__bar03 {
    position: absolute;
    left: 10px;
    top: 21.5px;
    width: 15px;
    height: 2px;
    background: #7f7cfe;
}
.menu__list {
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.menu__list li {
    display: inline;
}
.menu__list li a {
    font-family: 'Noto Sans KR';
}
.menu__list li a:hover {
    color: #9c57f5;
}
.menu__list li:nth-child(4) a:hover {
    color: rgba(0,0,0,0);
    background-image: url(../img/gnbInfo.webp);
    background-size: cover;
    width: 130%;
    display: block;
}
.menu__list li:nth-child(5) a:hover {
    color: rgba(0,0,0,0);
    background-image: url(../img/gnbTalk.webp);
    background-size: cover;
    width: 130%;
    display: block;
}
.right__menu {
    position: absolute;
    right: 0;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right__menu li {
    display: inline;
}
.right__menu li a {
    display: block;
}
.right__menu li:nth-child(2) a img {
    margin-top: -1px;
}
.right__menu li:nth-child(3) a img {
    margin-top: 11px;
    background: url(../img/ai.webp) 100%;
}


#section01 {
    height: 480px;
    width: 100%;
    padding: 50px;
    background: linear-gradient(to right,  rgba(173,207,255,0.25) 0%,rgba(173,206,255,0.25) 1%,rgba(181,176,248,0.25) 50%,rgba(187,143,240,0.25) 100%);
}
.swiper01 {
    width: 420px;
    height: 370px;
}

#section01 .container {
    display: flex;
    justify-content: space-between;
}

.maininfo {
    width: 550px;
    height: 370px;
    padding: 40px 30px 35px;
    background: #fff;
    margin-right: 10px;
    position: relative;
}
.swiper02 {
    width: 490px;
    height: 255px;
}
.swiper02 .swiper-button-prev {
    right: 18px;
    left: auto;
    top: 22px;
    width: 19px;
    height: 19px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 12px;
    background: #fff;
    color: #8e8cfd;
}
.swiper02 .swiper-button-next {
    right: 0;
    left: auto;
    top: 22px;
    width: 19px;
    height: 19px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 12px;
    background: #fff;
    color: #8e8cfd;
}
.swiper02 .swiper-wrapper .swiper-slide h4 {
    margin-left: 15px;
}
.swiper02 .swiper-button-prev::after,
.swiper02 .swiper-button-next::after {
    display: none;
}
.top__ul {
    display: flex;
    padding: 20px 10px 15px;
    justify-content: space-between;
}
.top__ul li {
    width: 48%;
}
.top__ul li a {
    display: flex;
}
.top__ul li a img {
    width: 72px;
    height: 58px;
}
.top__ul__desc {
    width: 40%;
    margin-left: 20px;
}
.subtitle {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
}
.desc {
    font-size: 12px;
}


.datalap {
    position: absolute;
    left: 10%;
}


.mainlist {
    width: 260px;
    height: 370px;
    padding: 40px 30px 35px;
    background: #fff;
    
}
.swiper03 .swiper-button-prev {
    right: 18px;
    left: auto;
    top: 22px;
    width: 19px;
    height: 19px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 12px;
    background: #fff;
    color: #8e8cfd;
}
.swiper03 .swiper-button-next {
    right: 0;
    left: auto;
    top: 22px;
    width: 19px;
    height: 19px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 12px;
    background: #fff;
    color: #8e8cfd;

}
.swiper03 .swiper-button-prev::after,
.swiper03 .swiper-button-next::after {
    display: none;
    
}
.top__ul.talk__ul {
    padding: 30px 10px;
}
.top__ul.talk__ul li {
    width: 33.3%;
}
.top__ul.talk__ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top__ul.talk__ul .top__ul__desc {
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 10px;
}
.mainlist {
    padding: 40px 30px 35px;
}
.swiper03 .swiper-wrapper .swiper-slide ul {
    padding: 25px 0;
}
.swiper03 .swiper-wrapper .swiper-slide h4 {
    margin-left: 15px;
}
.swiper03 .swiper-wrapper .swiper-slide ul li {
    margin-bottom: 10px;
    font-size: 12px;
}
.swiper03 .swiper-wrapper .swiper-slide ul li a {
    font-size: 12px;
}
.swiper03 .swiper-wrapper .swiper-slide ul li a:hover {
    text-decoration: underline;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(1)::before {
    content: '1';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(2)::before {
    content: '2';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(3)::before {
    content: '3';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(4)::before {
    content: '4';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(5)::before {
    content: '5';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(6)::before {
    content: '6';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(7)::before {
    content: '7';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(8)::before {
    content: '8';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(9)::before {
    content: '9';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.swiper03 .swiper-wrapper .swiper-slide ul li:nth-child(10)::before {
    content: '10';
    color: #bababa;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}


#section02 {
    padding: 0 24px;
    width: 1250px;
    margin: 30px auto 30px;
}
#section02 .swiper04 {
    
}

.swiper04 .swiper-wrapper .swiper-slide {
    display: inline;
    width: 30%;
}

#section02 .swiper-button-prev::after,
#section02 .swiper-button-next::after {
    display: none;
    
}
#section02 .swiper-button-prev {
    left: 25.5%;
    top: 51.5%;
    color: #000;
}
#section02 .swiper-button-prev span {
    font-size: 40px;
    font-weight: 100;
}
#section02 .swiper-button-next {
    right: 25.5%;
    top: 51.5%;
    color: #000;
}
#section02 .swiper-button-next span {
    font-size: 40px;
    font-weight: 100;
}

#section03 {}
#section03 h4 {
    font-size: 28px;
    background: url(../img/hot_keyword.webp) no-repeat;
    padding-left: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
#section03 h4 b em {
    color: #8f45ef;
}

.hotkeyword__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 300px;
}
.list__el {
    width: 300px;
    height: 190px;
    margin-bottom: 20px;
}
.list__el a {
    border: 1px solid #e5e5e5;
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    height: 190px;
    display: block;
}
.list__el a:hover {
    height: 395px;
    border: 1px solid transparent;
    background: linear-gradient(to right, white, white), linear-gradient(135deg, #add0ff, #bc8ff0);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    z-index: 10;
    position: relative;
}
.list__el a:hover::after {
    content: '+';
    background: #bc8ff0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 15px 10px;
    border-top-left-radius: 10px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
}
.list__el a .img__box {
    width: 300px;
    height: 120px;
    overflow: hidden;
    position: relative;
}
.img__box img {
    opacity: 0.2;
}
.list__el:hover a .img__box img {
    opacity: 0.9;
}

.hot__title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 0;
    padding: 0 30px;
    width: 100%;
}
.d__day {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 44px;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #9c57f5;
    border-radius: 10px;
}
.hot__desc {
    margin: 0 30px;
    padding: 12px 0 20px;
}
.licenseOrgan {
    font-size: 14px;
    line-height: 2;
    height: 28px;
    color: #6e6e6e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.date {
    font-size: 12px;
    color: #f15959;
}

.list__el:nth-child(1) .img__box {
    background: #e9b107;
}
.list__el:nth-child(2) .img__box {
background: #4b3962;
}
.list__el:nth-child(3) .img__box {
background: #e16045;
}
.list__el:nth-child(4) .img__box {
background: #474756;
}
.list__el:nth-child(5) .img__box {
background: #305a7e;
}
.list__el:nth-child(6) .img__box {
background: #b13c2f;
}
.list__el:nth-child(7) .img__box {
background: #383f4e;
}
.list__el:nth-child(8) .img__box {
background: #cd9308;
}

.hide {
    display: none;
    margin: 0 30px;
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
}
.list__el a:hover .hide {
    display: block;
}
.hide p {
    font-size: 14px;
    line-height: 1.5;
    color: #242424;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:lighter;
}
.hide p em {
    font-weight: normal;
}