/* main */
#main {
}
/* //main */

/* scroll */
.scrollTop {
  position: fixed;
  right: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 33px;
  z-index: 9999;
}
@media (max-width: 1000px) {
  .scrollTop {
    top: auto;
    left: 20px;
    bottom: 20px;
  }
}

/* nav */
#nav {
  position: fixed;
  z-index: 9999;
  height: 95%;
  /* display: none; */
}
.nav__bar {
  width: 80px;
  height: 100%;
  min-height: 400px;
  background-color: var(--main_blue);
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  border-radius: 40px 0 40px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.menu__line {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
}
.menu__line span {
}
.menu__line .menu__line__01 {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  background-color: var(--white);
  left: 29px;
  top: 40px;
}
.menu__line .menu__line__02 {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  background-color: var(--white);
  left: 29px;
  top: 45px;
  transition: all 0.3s;
}
.menu__line .menu__line__03 {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  background-color: var(--white);
  left: 29px;
  top: 50px;
  transition: all 0.3s;
}

.nav__bar:hover .menu__line .menu__line__02 {
  top: 48px;
}
.nav__bar:hover .menu__line .menu__line__03 {
  top: 56px;
}

.nav__text {
}
.nav__text p {
  display: inline-block;
  color: var(--white);
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: rotate(-90deg);
  font-size: 30px;
  font-family: var(--sub_font);
}
.nav__menuBox {
  opacity: 0;
}

/* .nav__bar.active */
.nav__bar.active {
  width: 350px;
}
.nav__bar.active .menu__line .menu__line__01 {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  background-color: var(--white);
  left: 33px;
  top: 46px;
  transition: all 0.3s;
  transform: rotate(225deg);
}
.nav__bar.active .menu__line .menu__line__02 {
  opacity: 0;
  /* display: none; */
}
.nav__bar.active .menu__line .menu__line__03 {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  background-color: var(--white);
  left: 33px;
  top: 46px;
  transition: all 0.3s;
  transform: rotate(-225deg);
}

.nav__bar.active .nav__text p {
  top: 25px;
  transform: rotate(0deg);
  text-align: center;
}
.nav__bar.active .nav__menuBox {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 17.5%;
  width: 100%;
  height: 65%;
  border-top: 1px solid var(--main_border);
  border-bottom: 1px solid var(--main_border);
}
.nav__bar.active .nav__menuBox ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.nav__bar.active .nav__menuBox li {
  text-align: center;
}
.nav__bar.active .nav__menuBox li a {
  font-size: 30px;
  color: var(--white);
  font-family: var(--sub_font);
}
@media (max-width: 1000px) {
  #nav {
    width: 96%;
    top: -1rem;
  }
  .nav__bar {
    width: 100%;
    /* min-width: 400px; */
    height: 80px;
    min-height: 80px;
    border-radius: 0px 40px 0px 40px;
    left: 2.1%;
  }
  .nav__text p {
    top: 25%;
    transform: rotate(0deg);
    text-align: center;
  }
  .nav__bar.active {
    width: 100%;
    height: 500px;
  }
  .nav__bar.active .nav__menuBox {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 17.5%;
    width: 100%;
    height: 65%;
    border-top: 1px solid var(--main_border);
    border-bottom: 1px solid var(--main_border);
  }
  .nav__bar.active .nav__menuBox ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .nav__bar.active .nav__menuBox li {
    text-align: center;
  }
  .nav__bar.active .nav__menuBox li a {
    font-size: 30px;
    color: var(--white);
    font-family: var(--sub_font);
  }
}
@media (max-width: 499px) {
  #nav {
    width: 90%;
  }
}
/* //nav */

/* banner */
#banner {
  position: relative;
}
.section__box {
  display: flex;
  height: 100vh;
  width: 100%;
}
.section__box .section__box__left {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--main_border);
  border-right: 1px solid var(--main_border);
  width: 50%;
}
.section__box .section__box__left .section__box__left01 {
  height: 55%;
}
.section__box .section__box__left .section__box__left02 {
  border-top: 1px solid var(--main_border);
  height: 45%;
}
.section__box .section__box__left .section__box__left02 .banner__desc {
  font-family: var(--main_korfont);
  width: 60%;
  word-break: keep-all;
  font-size: 1vw;
  color: var(--sub_color);
  margin: 20px 0 0 20px;
}
.circle {
  position: absolute;
  left: -30%;
  top: 70%;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
.circle span {
}
@media (max-width: 1000px) {
  .section__box .section__box__left .section__box__left02 .banner__desc {
    /* width: 80%; */
    display: none;
  }
  .circle {
    top: 65%;
    left: -45%;
  }
}
@media (max-width: 501px) {
  .circle {
    top: 40%;
    left: -30%;
  }
}

.section__box .section__box__right {
  width: 50%;
  border-right: 1px solid var(--main_border);
  border-bottom: 1px solid var(--main_border);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 70px;
}
.section__box .section__box__right h4 {
  font-size: 12vw;
  font-family: var(--main_font);
  line-height: 0.85;
  color: var(--main_color);
}
.section__box .section__box__right h4:nth-child(1) {
  margin-left: -35%;
}
.section__box .section__box__right h4:nth-child(2) {
  margin-left: 16%;
}
.section__box .section__box__right h4:nth-child(3) {
  margin-left: 32%;
}
.section__box .section__box__right h4:nth-child(4) {
  margin-left: -6.5%;
  white-space: nowrap;
  position: relative;
}
.section__box .section__box__right h4 em {
  color: var(--sub_color);
}

@media (max-width: 1000px) {
  .section__box .section__box__right {
    /* padding-top: 210px; */
  }
  .section__box .section__box__right h4 {
    font-size: 16vw;
  }
  .section__box .section__box__right h4:nth-child(1) {
    margin-left: -40%;
  }
  .section__box .section__box__right h4:nth-child(2) {
    margin-left: -20%;
  }
  .section__box .section__box__right h4:nth-child(3) {
    margin-left: -10%;
  }
  .section__box .section__box__right h4:nth-child(4) {
    margin-left: -30%;
    white-space: nowrap;
  }
  @media (max-width: 501px) {
    .section__box .section__box__right {
      padding-bottom: 200px;
    }
    .section__box .section__box__right h4:nth-child(1) {
      margin-left: -50%;
    }
    .section__box .section__box__right h4:nth-child(2) {
      margin-left: -20%;
    }
    .section__box .section__box__right h4:nth-child(3) {
      margin-left: -20%;
    }
    .section__box .section__box__right h4:nth-child(4) {
      margin-left: -50%;
      white-space: nowrap;
    }
  }
}
/* //banner */

/* about */
#about {
}
.contain {
  width: 68.4%;
  margin: 0 auto;
}
.about__box {
  width: 100%;
  display: flex;
  height: 9vw;
}
.about__left {
  width: 50%;
  border-left: 1px solid var(--main_border);
  border-right: 1px solid var(--main_border);
  border-bottom: 1px solid var(--main_border);
}
.about__right {
  width: 50%;
  border-right: 1px solid var(--main_border);
  border-bottom: 1px solid var(--main_border);
}
.about_title__box {
  height: 9vw;
  width: 100%;
  display: flex;
  border-left: 1px solid var(--main_border);
  border-right: 1px solid var(--main_border);
}
.about_title {
  width: 50%;
  border-right: 1px solid var(--main_border);
}
.about_title h3 {
  color: #00265a;
  font-size: 8vw;
  line-height: 1;
  font-family: var(--main_font);
  margin: 0.4vw 0 0 2vw;
}
.about__area {
  width: 100%;
  height: 33.9vw;
  background-color: #dbe6fe;
}
.about__flex__box {
  display: flex;
  width: 100%;
  height: 100%;
}
.about__desc {
  width: 50%;
  padding: 2vw;
}
.about__desc h4 {
  color: var(--sub_color);
  font-size: 5.2vw;
  font-family: var(--main_font);
  line-height: 1;
  margin-bottom: 1.5vw;
}
.about__desc p {
  color: var(--tex_color);
  width: 90%;
  font-family: var(--main_korfont);
  line-height: 1.6;
  font-size: 0.94vw;
  height: 33vw;
}
.about__img {
  width: 50%;
  height: 33.9vw;
  background-color: #000;
}
.skill {
  background: #f3f3ff;
}
.hash__box {
  width: 100%;
  height: 9vw;
  border-right: 1px solid var(--main_border);
  border-left: 1px solid var(--main_border);
  display: flex;
}
.hash__left {
  width: 50%;
  height: 100%;
}
.hash__right {
  width: 50%;
  height: 100%;
  border-left: 1px solid var(--main_border);
  padding: 1.5vw 0 0 3vw;
}
.hash__right p {
  font-family: var(--main_korfont);
  color: var(--tex_color);
  font-size: 1vw;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
}
.icon__box {
  width: 100%;
  height: 17.7vw;
  border: 1px solid var(--main_border);
  position: relative;
  overflow: hidden;
}
.icon01 {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 100%;
  height: 100%;
  background: url(../image/icon01.svg) no-repeat;
  background-size: 9%;
}
.icon02 {
  position: absolute;
  left: 27%;
  top: 5%;
  width: 100%;
  height: 100%;
  background: url(../image/icon02.svg) no-repeat;
  background-size: 6.4%;
}
.icon03 {
  position: absolute;
  left: 47%;
  top: 25%;
  width: 100%;
  height: 100%;
  background: url(../image/icon03.svg) no-repeat;
  background-size: 6.5%;
}
.icon04 {
  position: absolute;
  left: 62%;
  top: 4%;
  width: 90%;
  height: 90%;
  background: url(../image/icon04.svg) no-repeat;
  background-size: 11.5%;
}
.icon05 {
  position: absolute;
  left: 78%;
  top: -2%;
  width: 100%;
  height: 100%;
  background: url(../image/icon05.svg) no-repeat;
  background-size: 25%;
}
.icon06 {
  position: absolute;
  left: 15%;
  top: 35%;
  width: 100%;
  height: 100%;
  background: url(../image/icon06.svg) no-repeat;
  background-size: 9%;
}
.icon07 {
  position: absolute;
  left: 74%;
  top: 36%;
  width: 100%;
  height: 100%;
  background: url(../image/icon07.svg) no-repeat;
  background-size: 9%;
}
.icon08 {
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  height: 100%;
  background: url(../image/icon08.svg) no-repeat;
  background-size: 12%;
}
.icon09 {
  position: absolute;
  left: 33%;
  top: 57%;
  width: 100%;
  height: 100%;
  background: url(../image/icon09.svg) no-repeat;
  background-size: 9%;
}
.icon10 {
  position: absolute;
  left: 59%;
  top: 64%;
  width: 100%;
  height: 100%;
  background: url(../image/icon10.svg) no-repeat;
  background-size: 8%;
}
.icon11 {
  position: absolute;
  left: 88%;
  top: 62%;
  width: 50%;
  height: 50%;
  background: url(../image/icon11.svg) no-repeat;
  background-size: 18%;
}

.icon__desc {
  width: 100%;
  display: flex;
  border-left: 1px solid var(--main_border);
  border-right: 1px solid var(--main_border);
}
.icon__desc__left {
  border-right: 1px solid var(--main_border);
  padding: 2.61vw 3.13vw 0;
}
.icon__desc__left p {
  margin-bottom: 2.61vw;
  font-family: var(--main_korfont);
  color: var(--desc_color);
  line-height: 133.5%;
  font-size: 0.94vw;
}
.icon__desc__left p a {
  color: var(--desc_color);
  text-decoration-line: underline;
  text-underline-position: under;
}
.icon__desc__right {
  padding: 2.61vw 3.13vw 0;
}
.icon__desc__right p {
  margin-bottom: 2.61vw;
  font-family: var(--main_korfont);
  color: var(--desc_color);
  line-height: 133.5%;
  font-size: 0.94vw;
}
.icon__desc__right p a {
  color: var(--desc_color);
  text-decoration: underline;
  text-underline-position: under;
}

@media (max-width: 1000px) {
  .about__area {
    width: 96%;
    height: 47.1vw;
    margin: 0 auto;
  }
  .about__img {
    height: 47.183vw;
  }
  .contain {
    width: 100%;
  }
  .about__desc {
    padding: 10px 30px;
  }
  .about__desc h4 {
    margin-bottom: 10px;
  }
  .about__desc p {
    font-size: 1.7vw;
  }
  .icon__box {
    height: 25vw;
  }
  .icon__desc__left p {
    font-size: 1.7vw;
  }
  .icon__desc__right p {
    font-size: 1.7vw;
  }
}
@media (max-width: 559px) {
  .about__desc p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 501px) {
  .about__box {
    height: 15vw;
  }
  .about__flex__box {
    flex-direction: column;
  }
  .about_title__box {
    height: 15vw;
  }
  .about_title h3 {
    margin: 3.5vw 0 0 5.8vw;
  }
  .about__area {
    height: 60vh;
  }
  .about__desc {
    width: 96%;
    height: 30vh;
  }
  .about__desc h4 {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .about__img {
    width: 100%;
    height: 30vh;
  }
  .about__desc p {
    font-size: 12px;
  }
  .hash__left {
    display: none;
  }
  .hash__right {
    width: 100%;
    border: 0;
  }
  .hash__right p {
    margin-left: 2vw;
  }
  .icon__desc {
    flex-direction: column;
  }
  .icon__desc__left {
    border: 0;
  }
  .icon__desc__left p {
    width: 90%;
    margin: 2.61vw auto;
  }
  .icon__desc__right {
    padding-top: 0;
  }
  .icon__desc__right p {
    width: 90%;
    margin: 2.61vw auto;
  }
}
/* //about */

/* works */
.rail__blue {
  width: 100%;

  height: 15.63vw;
  background: #dbe6fe;
  padding: 1.8vw 0 1.8vw;
  margin-bottom: 15.63vw;
}
.rail__blue p {
  font-family: var(--main_font);
  color: var(--sub_color);
  font-size: 12vw;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
}
.rail__blue p em {
  color: var(--main_color);
}
.works__cont {
  margin-left: 16.15vw;
}
.works__title {
  font-size: 7.81vw;
  font-family: var(--main_font);
  line-height: 1;
  color: var(--sub_color);
  margin-bottom: 1vw;
}
.works__title em {
  color: var(--main_color);
}
.works__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.works__desc {
  width: 90%;
  margin-right: 13%;
  font-family: var(--main_korfont);
  line-height: 1.6;
  font-size: 1vw;
  color: var(--desc_color);
}
.works__hash {
  font-size: 0.8vw;
  color: var(--tex_color);
  display: inline-block;
  margin-top: 2.6vw;
}
.works__layout {
  margin-top: 5.21vw;
  width: 132.35vw;
  height: 39.12vw;
  background: var(--main_blue);
  position: relative;
}
.works__icon01 {
  position: absolute;
  left: 1.5625vw;
  top: 1.5625vw;
  width: 100%;
  height: 100%;
  background: url(../image/worksicon01.svg) no-repeat;
  background-size: 18%;
}
.works__icon02 {
}
.works__icon03 {
}
.works__circle {
  display: inline-block;
  width: 26.46vw;
  height: 26.46vw;
  background-color: #003489;
  border-radius: 50%;
  position: absolute;
  left: 3.96vw;
  top: 5.78vw;
}
.works__mockup {
}
.code__view {
  position: absolute;
  right: 1.56vw;
  bottom: 1.56vw;
  font-size: 1vw;
  color: var(--white);
  padding: 2.323vw 1vw;
  border: 0.6vw solid #ffe112;
  border-radius: 50%;
}
/* //works */
